/* src/styles/Certificates.css */
.certificates {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #171a13;
}

.certificates-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h2 {
    font-size: 2.5rem;
    color: #e4f0d5;
    margin: 20px 0 40px; /* Increased bottom margin */
}

.certificates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjusted min width */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 40px;
}

.certificate-box {
    background-color: #e4f0d5;
    border: 1px solid #eefedc;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.certificate-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certificate-box img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}


footer {
    margin-top: auto;
}

@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    .certificate-box {
        padding: 5px; 
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5rem;
    }

    .certificates-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjusted min width */
        gap: 10px;
    }

    .certificate-box {
        padding: 3px; 
    }
}
