/* src/styles/Services.css */
.services {
    background-color: #161d16;
    min-height: 100vh;
    color: #d9f3dc;
    display: flex;
    flex-direction: column;
}

.services-context {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    flex: 1; /* Ensure the context area takes up the remaining space */
}

.services-context h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #e3f8ca;
}

.services-context span {
    color: #27712f;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}

.service-box {
    background-color: #e2fac7;
    border: 1px solid #e2fac7;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-icon {
    font-size: 3rem;
    color: #4caf50; /* Customize the icon color as needed */
    margin-bottom: 10px;
}

.service-box h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #161d16;
}

.service-box p {
    font-size: 1rem;
    color: #161d16;
}

/* Media Queries for Smaller Devices */
@media (max-width: 768px) {
    .services-context {
        padding: 20px 10px; /* Adjust padding for smaller screens */
    }

    .services-context h2 {
        font-size: 32px; /* Adjust font size for smaller screens */
    }

    .service-icon {
        font-size: 2.5rem; /* Adjust icon size for smaller screens */
    }

    .service-box h3 {
        font-size: 1.1rem; /* Adjust font size for smaller screens */
    }

    .service-box p {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
}
