.projects {
    padding: 50px;
    height: 70vh;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the min and max width as needed */
    gap: 20px;
    
}

.project-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.project-card:hover .project-content {
    opacity: 1;
}

.project-image {
    width: 100%;
    height: 150px;
    display: block;
    transition: transform 0.3s ease;
}

.project-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(209, 248, 223, 0.9);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.project-content h4 {
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 2px;
}

.project-content p {
    margin-bottom: 15px;
    font-size: 12px;
}
.projects h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.project-content a {
    color: #031005;
    text-decoration: none;
}

.project-content a:hover {
    text-decoration: underline;
}
.redirect{
  
}
