/* src/styles/AboutMe.css */
.about-me {
    min-height: 100vh;
    background-color: #141d14;
    color: #d9f3dc;
}

.about-context {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 60px 155px 60px;
    text-align: center;
}

h2 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px; /* Add margin for better spacing */
}

span {
    color: #27712f;
}

p {
    font-size: 20px;
    margin-bottom: 15px; /* Add margin for better spacing between paragraphs */
}

/* Media Queries for Smaller Devices */
@media (max-width: 768px) {
    .about-context {
        padding: 50px 20px 50px 20px; /* Adjust padding for smaller screens */
    }

    h2 {
        font-size: 32px; /* Adjust font size for smaller screens */
    }

    p {
        font-size: 18px; /* Adjust font size for smaller screens */
        margin-bottom: 10px; /* Adjust margin for better spacing */
    }
}
